<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" />
    <title>Udep2Mono</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="static/img/leaf.png" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" />
    <script scripttype="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/styles/truth.css" />
</head>

<body>
    <div class="header">
        <nav class="title-nav">
            <div class="title-banner">
                <a class="title-bage" id="home" aria-current="page" herf="/">
                    <img class="head-icon" src="static/img/leaf.png"/> Udep2Mono 
                    <!--&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;-->
                </a>
                <!--ul class="nav-items">
                    <li><button id="logic" type="button">Boolean</button><svg width="6" height="4" fill="none" viewbox="0 0 6 4"><path fill="#999" d="M.471 0L0 .471 2.828 3.3 5.657.47 5.185 0 2.828 2.357.471 0z"></path></svg></li>
                    <li><button id="fsm" type="button">FSA</button><svg width="6" height="4" fill="none" viewbox="0 0 6 4"><path fill="#999" d="M.471 0L0 .471 2.828 3.3 5.657.47 5.185 0 2.828 2.357.471 0z"></path></svg></li>
                    <li><button id="cfg" type="button">CFG</button><svg width="6" height="4" fill="none" viewbox="0 0 6 4"><path fill="#999" d="M.471 0L0 .471 2.828 3.3 5.657.47 5.185 0 2.828 2.357.471 0z"></path></svg></li>
                    <li><button id="pda" type="button">PDA</button><svg width="6" height="4" fill="none" viewbox="0 0 6 4"><path fill="#999" d="M.471 0L0 .471 2.828 3.3 5.657.47 5.185 0 2.828 2.357.471 0z"></path></svg></li>
                    <li><button id="regex" type="button">Regex</button><svg width="6" height="4" fill="none" viewbox="0 0 6 4"><path fill="#999" d="M.471 0L0 .471 2.828 3.3 5.657.47 5.185 0 2.828 2.357.471 0z"></path></svg></li>
                </ul-->
            </div>
        </nav>
    </div>

    <div class="main-content">
    <div class="truth-content">
        <h1 class="intro">Udep2Mono Notebook</h1>
        <h2 class="intro-content">Live notebook for transforming universal depedencies to monotonicity sentences</h2>
        <div class="card cell">
            <div class="card-header"></div>
            <div class="notebook card-body">
                <blockquote class="blockquote mb-0">
                    <div class="inputwrap"><textarea id="input1" onkeyDown="compileKeyDown(event, this.id)"></textarea></div>
                    <div class="conclusion" id="buttonbar1">
                        <div class="addNew"><button class="add btn btn-light" id="add1" type="button" onclick="addNewCell(this.id)"><ion-icon name="add-outline"></ion-icon></button><button class="compile btn btn-light" id="compile1" type="button" onclick="compileLogic(this.id)"><ion-icon name="caret-forward-outline"></ion-icon></button></div>
                    </div>
                </blockquote>
            </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/base64.js"></script>
    <script type="text/javascript" src="static/js/Canvas2Image.js"></script>
    <script type="text/javascript" src="static/js/syntree.js"></script>
    <script type="text/javascript" src="static/js/truth_view.js"></script>
</body>

</html>